<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>FPT University</p>
          <h1><%= title %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- account form -->
<div class="contact-from-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="form-title">
          <h2><%= title %></h2>
        </div>
        <div id="form_status"></div>
        <div class="contact-form">

          <form method="POST" action="/submitFormDepartment">
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Describe:</label>
              <div class="col-sm-10">
                <textarea name="describe" id="" cols="79" rows="10"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <input type="submit" value="SUBMIT">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end account form -->