<div class="row">
  <div class="col-lg-12 col-sm-12 text-center">
    <div class="main-menu-wrap">
      <!-- logo -->
      <div class="site-logo">
        <a href="/">
          <img src="img/logo.png" alt="" />
        </a>
      </div>
      <!-- logo -->

      <% if (typeof user !== "undefined") { %>

      <%# Start: Nav Admin Site %>
      <% if (user.role.name === "Admin") { %>
      <!-- menu start -->
      <nav class="main-menu">
        <ul>

          <li><a href="/">Home</a></li>

          <li>
            <a href="#">Accounts</a>
            <ul class="sub-menu">
              <li><a href="#">List Accounts</a></li>
              <li><a href="#">Create new account</a></li>
            </ul>
          </li>

          <li><a href="#">Set Date</a></li>

          <li>
            <div class="header-icons">
              <a class="boxed-btn" href="#">Hello, <%= user.fullName %> | <%= user.role.name %></a>
              <ul class="sub-menu">
                <li><a href="#">Account Settings</a></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>

      <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
      <div class="mobile-menu"></div>

      <!-- menu end -->
      <% } %>
      <%# Start: Nav Admin Site %>


      <% } %>

    </div>
  </div>
</div>