<%- include('nav.ejs'); %>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Category</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">All Ideas</a></li>
                        <li class="list-group-item"><a href="#">Departments</a></li>
                        <li class="list-group-item"><a href="#">Years</a></li>

                    </ul>
                </div>
                <div class="col-md-9">
                    <h2>Ideas</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="detail-idea.html">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Tiêu đề bài viết</h4>
                                        <small class="text-muted">Ngày đăng: 23/02/2023</small>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Nội dung bài viết </p>
                                    </div>
                                    <div class="float-end">
                                        <button type="button" class="btn btn-link text-dark">
                                            <i class="far fa-thumbs-up"></i>
                                            <span>345</span>
                                        </button>
                                        <button type="button" class="btn btn-link text-dark">
                                            <i class="far fa-comment"></i>
                                            <span>100</span>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <a href="detail-idea.html">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Tiêu đề bài viết</h4>
                                <small class="text-muted">Ngày đăng: 23/02/2023</small>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Nội dung bài viết </p>
                            </div>
                            <div class="float-end">
                                <button type="button" class="btn btn-link text-dark">
                                    <i class="far fa-thumbs-up"></i>
                                    <span>345</span>
                                </button>
                                <button type="button" class="btn btn-link text-dark">
                                    <i class="far fa-comment"></i>
                                    <span>100</span>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="detail-idea.html">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Tiêu đề bài viết</h4>
                                <small class="text-muted">Ngày đăng: 23/02/2023</small>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Nội dung bài viết </p>
                            </div>
                            <div class="float-end">
                                <button type="button" class="btn btn-link text-dark">
                                    <i class="far fa-thumbs-up"></i>
                                    <span>345</span>
                                </button>
                                <button type="button" class="btn btn-link text-dark">
                                    <i class="far fa-comment"></i>
                                    <span>100</span>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="detail-idea.html">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Tiêu đề bài viết</h4>
                                <small class="text-muted">Ngày đăng: 23/02/2023</small>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Nội dung bài viết </p>
                            </div>
                            <div class="float-end">
                                <button type="button" class="btn btn-link text-dark">
                                    <i class="far fa-thumbs-up"></i>
                                    <span>345</span>
                                </button>
                                <button type="button" class="btn btn-link text-dark">
                                    <i class="far fa-comment"></i>
                                    <span>100</span>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <p>Blog 1640</p>
    </footer>


    <script src="app.js"></script>
</body>

</html>