
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login_style/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login_style/css/main.css">
<!--===============================================================================================-->

</style>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/img/v800.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form" method="post" action="/login">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>
					

						<% if (messages != '') { %>
						<p id="error-message" class="text-danger">
						  <%= messages %>
						</p>
						<% } 
									%>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn ">
							Login
						</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/login_style/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
	<script src="/login_style/js/main.js"></script>
	<script>
		// Lấy giá trị của trường username và password
		var usernameInput = document.getElementsByName('username')[0];
		var passwordInput = document.getElementsByName('password')[0];
	  
		// Thêm sự kiện onchange cho hai trường này
		usernameInput.addEventListener('change', hideErrorMessage);
		passwordInput.addEventListener('change', hideErrorMessage);
	  
		// Hàm ẩn đi thông báo lỗi
		function hideErrorMessage() {
		  document.getElementById('error-message').style.display = 'none';
		}
	  </script>

</body>
</html>