<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h3>My name is <%= user.username %> </h3> &nbsp;
            <h3>I stay at <%= user.role %> </h3> <br>
        </div>
    </div>
    <div>
        <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
    </div>
    
    
</body>
</html>